<html>
	<head>
	<meta charset="UTF-8"/>
	<body>
		<div th:each="pedido: ${pedidos}">
			<div th:text="${pedido.nomeProduto}">Nome do Produto</div>
			<div>Valor <span>209.99</span></div>
			<div>Data de Entrega <span th:text="${pedido.dataDaEntregar}">10;02;2020</span></div>
			<div>Produto</div>
			<div><input th:value="${pedido.urlProduto}" value="url do produto"/></div>
			<div>Descrição</div>
			<div>
				<textarea th:text="${pedido.descricao}">descrição do produto</textarea>
			</div>
			<div>
				<img th:src="${pedido.urlImagem}" src=""/>
			</div>
		</div>
	</body>
	</head>
</html>